.App {
  text-align: end;

}

.InitialPageHeader{
  background-color: #0E2A47;
  box-shadow: inset 100px 100px 250px 100px rgba(0, 0, 0, 0.25);
}


.App-logo {
  height: 40vmin;
  margin-right: 5px;
}


.App-logo {
  align-items: flex-end;
}


.page-header{
  display: flex;
  width:  auto;
  top: 13px;
  border-bottom: 1px solid rgba(72, 255, 213, 1)
}

.header-font{
  color: #48FFD5;
  margin-left: 25px;
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.create-account{
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #48FFD5;
  display: flex;
  margin-left: relative;
}

.page-body {
  min-height: 100vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}


