*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

.container{   
    width: auto;
    margin: 0 auto; 
    background: none;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-top: 2%;
}

.linkToBoot{
    width: 25%;
    min-height: 20%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: rgba(49, 181, 255, 0.15);
    border: 1px;
    box-sizing: border-box;
    font-size: 30px;
    color: azure;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.imgBoot{
    display: block;
    align-items: center;
    line-height: 1.2;
}

.bootDesafio{
    width: 25%;
    min-height: 20%;
    display: inline-block;
    padding: 15px;
    background: rgba(49, 181, 255, 0.15);
    border: 1px;
    box-sizing: border-box;
    margin-left: 10%;
    font-size: 30px;
    color: azure;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}
