@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

.header {
    margin: 1px auto;
    width: auto;
    height: 4rem;
    background-color: #0E2A47;
    font-family: 'Open Sans Hebrew', serif;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #48FFD5;
    box-shadow: inset 100px 100px 250px 100px rgba(0, 0, 0, 0.25);   
}

.header p {
    padding-left: 5%;
}

.header div {
    display: flex;
    align-items: center;
    align-content: right;
    float: right;
    width: 30%;
    padding-left: 73%;
}

.header-font{
    color: #48FFD5;
}

.header-criar-conta {
    background-color: #0E2A47;
    box-shadow: inset 100px 100px 250px 100px rgba(0, 0, 0, 0.25); 
    color: #48FFD5;
    font-weight: bold;
    font-size: 20px;
    border: none;

}

.header-entrar {
    padding: 2% 10% 2% 10%;
    background: #31B5FF;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

